<launch>
    <!--
    <node pkg="controller" name="img_publisher" type="img_publisher"/>
    -->
    
    <node name="image_republish_1" pkg="image_transport" type="republish" args="compressed raw">
      <remap from="in" to="/image_1_raw" />
      <remap from="out" to="/image_1" />
    </node>
    
    <node name="image_republish_2" pkg="image_transport" type="republish" args="compressed raw">
      <remap from="in" to="/image_2_raw" />
      <remap from="out" to="/image_2" />
    </node>

    <node pkg="kurione_qr_reader" type="qr_reader.py" name="qr_reader" output="screen">
        <param name="topics" value="/image_1,/image_2"/>
    </node>
</launch>
